<html>
    <body>
        <a href="/">Home</a> | <a href="/add_student">Add New Student</a> | <a href="/add_project">Add New Project</a>    

        <h1>Give Grade</h1>
        <p>Fill out this short form to grade a student on a project.</p>
            <form action="/grade_added">
                <label for = "github">Github:</label>
                <input type = "text" name = "github" />
                <label for = "title">Title:</label>
                <input type = "text" name = "title" /><br><br>
                <label for = "grade">Grade:</label>
                <input type = "text" name = "grade" /><br>
                <input type = "submit">
            </form>



    </body>
</html>