<html>
    <body>
        <h1>Add New Student</h1>
        <p>Fill out this short form to add a new student to Hackbright.</p>
            <form action="/student_added">
                <label for = "first_name">First name:</label>
                <input type = "text" name = "first_name" />
                <label for = "last_name">Last name:</label>
                <input type = "text" name = "last_name" /><br><br>
                <label for = "github">GitHub:</label>
                <input type = "text" name = "github" /><br>
                <input type = "submit">
            </form>

    </body>
</html>